.nav-home{
    height: 15vw;
}
.img-home{
    image-rendering: auto;
    width: 100vw ;
    position:fixed;    
}
.img-opt-home{
    image-rendering: auto;
    width: 100vw ;
}

a {
    color: black;
    text-decoration: none;
}

.tit-card-home{
   font-size: 6vw;
   margin: 0 2vw;
}

.text-card-home{
    font-size: 3vw;
    color: darkgrey;
    margin: 2vw
    
}
.card-all{
    display: flex;
    flex-wrap: wrap;
    height: 35vw;
    align-items: flex-start;
    border-bottom: 2px solid rgb(223, 223, 223);
    
}
.img-card{
    
    margin: 0 2vw;
    width: 20vw;
}
.img-card>img{
   
    height: 28vw;
    margin: 2vw;
}
.text-card{
    width: 70vw;
}
.h-card{
    font-size: 5vw;
    margin: 1vw 0;
}
.p-card{
    font-size:4vw;
    margin: 2vw 0;
}
.footer-card{
    font-size:3vw;
    font-weight: bold;
}
.card-details{
    text-align: center;
}
.img-card-details{
    margin: 10vw 0;
    height: 50vw;
}
.card-details-body{
    margin: 0 10vw;
    text-align: left;
}
@media (min-width: 768px){

    .nav-home{
        height: 5vw;
        width: 100vw;
        text-align: center;
    }
    .img-home{
        position:relative;
        width: 33vw;
    }

    .card-body{
        display: flex;

    }

    .tit-card-home{
        padding: 2vw;
        font-size: 3vw;
        width: 20vw;
        margin: 0 2vw;
     }
     
     .text-card-home{
         font-size: 2vw;
         color: darkgrey;
         margin: 2vw
         
     }
     .container-card-all{
        display: flex;
        flex-wrap: wrap;
     }
     .card-all{
         display: flex;
         flex-wrap: wrap;
         height: 20vw;
         width: 50vw;
         align-items:center;
         border:none;
         
     }
     .img-card{
         
         margin: 0 2vw;
         width: 15vw;
     }
     .img-card>img{
        
         height: 15vw;
         margin: 2vw;
     }
     .text-card{
         width: 30vw;
     }
     .h-card{
         font-size: 2vw;
         margin: 1vw 0;
     }
     .p-card{
         font-size:1.5vw;
         margin: 1vw 0;
     }
     .footer-card{
         font-size:1vw;
         font-weight: bold;
     }
     .card-details{
        display: flex;
        text-align: left;
     }
     .img-card-details{
       
        margin: 5vw 2vw;
        height: 30vw;
        

     }
     .card-details-body{
         margin: 5vw 5vw;
         text-align: left;
     }

}